p {
    text-align: left!important;
}

/*https://www.w3schools.com/howto/howto_css_list_without_bullets.asp*/
ul.no-bullets {
    list-style-type: none;
}

span i {
    padding-right: 1rem;
}

.modal-header {
    border: 0;
}

.modal-footer {
    border: 0;
}

.footer-copyright {
    width: 100%;
}


#map {
    width: 600px;
    height: 450px;
    border: 0;
    margin: 0 auto;
    display: block;
}

#contact-info {
    border: 0;
    width: 600px;
    min-height: 450px;
    padding: 3rem;
    border-radius: 0px;
    background-color: #2f4766;
}

#business-info {
    text-align: left;
}